In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\admin\Downloads\archive (9)\Salary_Data.csv")

In [3]:
df.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0

In [4]:
x = df.drop("Salary",axis=1)

In [5]:
y=df['Salary']

In [15]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()

In [22]:
le_job_title = LabelEncoder()
le_Education_Level = LabelEncoder()
le_gender = LabelEncoder()

In [23]:
x['job_title'] = le_job_title.fit_transform(x['Job Title'])
x['education_level'] = le_Education_Level.fit_transform(x['Education Level'])
x['gender'] = le_gender.fit_transform(x['Gender'])

In [29]:
x =x.drop(['Gender',	'Education Level'	,'Job Title'],axis=1)

In [30]:
from sklearn import tree

In [31]:
model = tree.DecisionTreeClassifier()

In [39]:
x = y.fillna(x.mean)

In [40]:
x.isnull().sum()

0

In [41]:
from sklearn.model_selection import train_test_split

In [42]:
x_train,x_teat,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [45]:
x['Age'].dtype

KeyError: 'Age'